{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block 'title' %} Interior Design Home{% endblock  %}</title>
    <link rel="stylesheet" href="{% static "style.css" %}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'custom-styles.css' %}">
</head>
<body>
    <header>
        <h1 style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);">InterIm Assistant</h1>
        <nav>
            <ul>
                <li><a href={% url 'home' %}>Home</a></li>
                <li>
                    <a href="#">Designs</a>
                    <ul class="dropdown">
                        <li><a href="{% url 'designs:modern' %}">Modern</a></li>
                        <li><a href="{% url 'designs:classic' %}">Classic</a></li>
                        <li><a href="{% url 'designs:minimalist' %}">Minimalist</a></li>
                        <li><a href="{% url 'designs:bohemian' %}">Bohemian</a></li>
                    </ul>
                </li>
                 <!--     <li><a href="community.html">Community Discussions</a></li>   -->
                <li>
                    <a href="#">Product Assistance</a>
                    <ul class="dropdown">
                       <!--     <li><a href={% url "offline_recommendation" %}>Local Recommendations</a></li>    -->
                        <li><a href={% url "online_recommendation" %}>Ai Product Assistance</a></li>
                        <li><a href={% url "ai_room_designer" %}>Ai Room Designer</a></li>
                    </ul>
                </li>
                <li><a href={% url "quiz_home" %}>Design Quiz</a></li>
               <li><a href="budget-calculator.html">Budget Calculator</a></li>
               <!--  <li><a href="trends.html">Design Trends</a></li>-->
                
            </ul>
        </nav>
        
        <div class="profile-icon">
            <a href="{% url 'login' %}" class="profile-link" id="profileButton">
                <i class="fas fa-user-circle"></i>
            </a>
            <ul class="profile-dropdown">
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'updateprofile' %}">Manage Profile</a></li>
                <li><a href="{% url 'viewprofile' %}">My Account</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Sign Out</a></li>
            </ul>
        </div>
        
    </header>
    {% block 'content' %}{% endblock  %}
    <footer>
        <p class="para-two">&copy; 2024 InterIm Assistant. All rights reserved.</p>
    </footer>
    <!--<div id="chatbot">
        <button id="chatbot-toggle">Chat with us!</button>
        <div id="chatbot-interface" class="collapsed">
        </div> -->
    </div>
    <script src="{% static 'script.js' %}"></script>


    <script src="https://cdn.botpress.cloud/webchat/v2.2/inject.js"></script>
<script src="https://files.bpcontent.cloud/2024/12/13/16/20241213165245-4QY1R676.js"></script>
    
    
    
    <!--
    <script> document.getElementById('chatbot-toggle').addEventListener('click', function() 
    { window.botpressWebChat.init({
     botId: '4b64df5a-f33f-4b8e-99fa-bcda9d6828b9', 
    hostUrl: 'https://cdn.botpress.cloud/webchat/v2.2',
    messagingUrl: 'https://messaging.botpress.cloud', 
    configUrl: 'https://files.bpcontent.cloud/2024/12/13/16/20241213165245-NZNN7XAA.json', 
    stylesheet: 'path_to_your_custom_stylesheet.css', 
    botName: 'InterIm Assistant', 
    botAvatarUrl: 'path_to_your_bot_avatar_image.png' }); });
    </script> -->
</body>
</html>
